@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#tituloPagina{
    font-size: 1.7rem;
}

#logosHeader{
    font-size: 1.4rem;
    cursor: pointer;
}

.contenedor{
    background-image: url(images/fondo1.png);
    background-size: cover;
    width: 100%;
    padding-top: 20%;
    margin-bottom: 5%;
}

.contenedor2{
    background-image: url(images/fondo2.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 25%;
    margin-bottom: 5%;
}

.contenedor3{
    background-image: url(images/fondo3.webp);
    background-size: cover;
    width: 100%;
    padding-top: 40%;
    margin-bottom: 5%;
}

.contenedor4{
    background-image: url(images/fondo4.webp);
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 5%;
}

.contenedor5{
    background-image: url(images/fondo5.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 5%;
}

.contenedor6{
    background-image: url(images/fondo6.png);
    background-size: cover;
    width: 100%;
    padding-top: 40%;
    margin-bottom: 5%;
}

.contenedorCoche{
    padding: 4%;
}



.texto1{
    margin-top: -2%;
    width: 70%;
    margin-left: 15%;
}

.texto1Titulo{
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.modeloLetra{
    font-size: 0.8rem;
    color: rgb(104, 99, 99);
    margin-top: 2%;
}

.tituloCoche{
    font-size: 2rem;
    margin-left: -25%;
    margin-top: -4%;
    display: flex;
    margin-left: 1%;
}

.contenedorAbout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    font-size: 0.8rem;
    padding: 5%;
    gap: 5%;
}

.contenedorAbout h4{
    width: 100%;
}

.seccion{
    gap: 5%;
}

.seccionModelo{
    width: 25%;
}

.contenedorModelos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: auto;
    padding: 5%;
}

.seccionModelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    max-width: 250px;
}

.seccionModelo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 150px;
}

.seccionModelo a {
    margin-top: 10px;
}
